.container-contact {
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
}

.me-3 {
  margin-left: 19px;
}

.container-form {
  padding-top: 100px;
}

.mx {
  margin-left: 323px;
  margin-top: 10px;
}

.h2 {
  margin-left: 95px;
}
